<div class="row header-bar text-center">
  <div class="col-xs-12">
    <h3>Compose Message & Address</h3>
  </div>
</div>

<div class="container">
  <div class="row top-margin-md text-center">
    <button type="button" class="btn" name="button" ng-click="$ctrl.nextStep()">Next Step ></button>
  </div>
  <div class="row top-margin-sm">
    <div class="col-xs-1"></div>
    <div class="col-md-5 col-xs-10">
      <!-- Postcard Back -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450 306" class="standard-border-radius top-margin-xs">
        <g>
          <!-- <rect width="100%" height="100%"></rect> -->
          <image class="postcard-back" xlink:href="assets/card_back.svg" x="0" y="0"/>
          <!-- Message Text -->
          <foreignObject x="20" y="80" width="200" height="150">
            <p class="message-preview">{{$ctrl.message}}</p>
          </foreignObject>
          <!-- To Text -->
          <foreignObject x="210" y="130" width="200" height="20">
            <p class="address-preview">From:</p>
          </foreignObject>
          <foreignObject x="240" y="130" width="200" height="20">
            <p class="address-preview">{{$ctrl.from.name}}</p>
            <p class="address-preview">{{$ctrl.from.address_line1}}</p>
            <p class="address-preview">{{$ctrl.from.address_line2}}</p>
            <p class="address-preview">{{$ctrl.from.address_city}}</p>
            <p class="address-preview">{{$ctrl.from.address_state}}</p>
            <p class="address-preview">{{$ctrl.from.address_zip}}</p>
          </foreignObject>
          <foreignObject x="210" y="200" width="200" height="20">
            <p class="address-preview">To:</p>
          </foreignObject>
          <foreignObject x="240" y="200" width="200" height="20">
            <p class="address-preview">{{$ctrl.to.name}}</p>
            <p class="address-preview">{{$ctrl.to.address_line1}}</p>
            <p class="address-preview">{{$ctrl.to.address_line2}}</p>
            <p class="address-preview">{{$ctrl.to.address_city}}</p>
            <p class="address-preview">{{$ctrl.to.address_state}}</p>
            <p class="address-preview">{{$ctrl.to.address_zip}}</p>
          </foreignObject>
        </g>
      </svg>
      <!-- Postcard Front -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450 306" class="standard-border-radius top-margin-sm">
        <defs>
          <!-- TODO: Declare all filters here -->
          <filter id="pictureFilter" >
            <feColorMatrix type="matrix" values="1.1 0 0 0 -0.1 0 1.1 0 0 -0.1 0 0 1.1 0 -0.1 0 0 0 1 0" />
          </filter>
          <filter id="noFilter" >
            <feColorMatrix type="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" />
          </filter>
        </defs>
        <g>
          <rect width="100%" height="100%"></rect>
          <image class="postcard-background" filter="url({{$ctrl.curFilter}})" xlink:href="{{$ctrl.postcardBackground}}" x="0" y="0"/>
          <image class="postcard-theme" xlink:href="{{$ctrl.curTheme}}" width="100%" height="100%" x="0" y="0"/>
          <text x="50%" y="25%" class="greetings-subtext" text-anchor="middle" fill="{{$ctrl.curColor}}">
            {{$ctrl.composition_settings.greetings_subtext}}
          </text>
        </g>
      </svg>
    </div>
    <div class="col-md-5 col-xs-10">
      <div class="row">
        <div class="col-xs-12 color-2 widget-container">
          <h4>Message</h4>
          <textarea class="text-widget" name="name" rows="4" cols="60" ng-model="$ctrl.message" maxlength="440"></textarea>
        </div>
      </div>

      <div class="row top-margin-sm">
        <div class="col-xs-12 color-2 widget-container">
          <h4>Send From:</h4>
          <div class="col-xs-4 form-column">
            <label class="form-label" for="from_name">Name</label>
            <label class="form-label" for="from_address_line1">Address Line 1</label>
            <label class="form-label" for="from_address_line2">Address Line 2</label>
            <label class="form-label" for="from_address_city">City</label>
            <label class="form-label" for="from_address_state">State</label>
            <label class="form-label" for="from_address_zip">Zipcode</label>
          </div>
          <div class="col-xs-8 form-column">
            <input class="form-field" type="text" name="from_name" ng-model="$ctrl.from.name" maxlength="40" required>
            <input class="form-field" type="text" name="from_address_line1" ng-model="$ctrl.from.address_line1" maxlength="40" required>
            <input class="form-field" type="text" name="from_address_line2" ng-model="$ctrl.from.address_line2" maxlength="40" required>
            <input class="form-field" type="text" name="from_address_city" ng-model="$ctrl.from.address_city" maxlength="40" required>
            <input class="form-field" type="text" name="from_address_state" ng-model="$ctrl.from.address_state" maxlength="2" required>
            <input class="form-field" type="text" name="from_address_zip" ng-model="$ctrl.from.address_zip" maxlength="5" required>
          </div>
        </div>
      </div>

      <div class="row top-margin-sm">
        <div class="col-xs-12 color-2 widget-container">
          <h4>Send To:</h4>
          <div class="col-xs-4 form-column">
            <label class="form-label" for="to_name">Name</label>
            <label class="form-label" for="to_address_line1">Address Line 1</label>
            <label class="form-label" for="to_address_line2">Address Line 2</label>
            <label class="form-label" for="to_address_city">City</label>
            <label class="form-label" for="to_address_state">State</label>
            <label class="form-label" for="to_address_zip">Zipcode</label>
          </div>
          <div class="col-xs-8 form-column">
            <input class="form-field" type="text" name="to_name" ng-model="$ctrl.to.name" maxlength="40" required>
            <input class="form-field" type="text" name="to_address_line1" ng-model="$ctrl.to.address_line1" maxlength="40" required>
            <input class="form-field" type="text" name="to_address_line2" ng-model="$ctrl.to.address_line2" maxlength="40" required>
            <input class="form-field" type="text" name="to_address_city" ng-model="$ctrl.to.address_city" maxlength="40" required>
            <input class="form-field" type="text" name="to_address_state" ng-model="$ctrl.to.address_state" maxlength="2" required>
            <input class="form-field" type="text" name="to_address_zip" ng-model="$ctrl.to.address_zip" maxlength="5" required>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
