<div class="image-fill">
  <img class="h-image1" ng-src="../../assets/headers/h5.svg" alt="upload-photo">
  <img class="h-image2" ng-src="../../assets/headers/h5_small.svg" alt="select-theme">
</div>

<div class="row top-margin-sm">
  <div class="col-md-4 col-sm-2 col-xs-1"></div>
  <div class="col-md-5 col-sm-8 col-xs-10">
    <div progress-bar></div>
  </div>
  <div class="col-md-3 col-sm-2 col-xs-1"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 col-sm-6 col-xs-12 widget-container color-2 text-center flex-column" style="margin-right:5px;height:340px;">
      <h4>Select a File to Upload</h4>

      <div class="flex-row">
        <label class="inputfile-label" for="file">Choose a File <img class="icon" src="../../assets/icons/upload_iconicon.svg" alt=""></label>
          <input class="inputfile" type="file" name="file" id="file" custom-on-change="$ctrl.fileInput">
      </div>
      <div class="text-center">
        <h4>OR</h4>
      </div>

      <div class="flex-row">
        <div class="flex-column">
          <h4>Enter an Image URL</h4>
          <input style="width:200px;" class="top-margin-sm text-widget" type="text" name="image" ng-model="$ctrl.postcard.background">
        </div>
      </div>
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12 widget-container color-2" style="margin-left:5px;height:340px;">
      <div class="photo-upload">
        <div ng-if="$ctrl.isLoading" class="loader">Loading...</div>
        <img ng-if="!$ctrl.isLoading" class="image-fill standard-border-radius" ng-src="{{$ctrl.postcard.background}}" alt="">
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
