<div class="image-fill">
  <img ng-src="../../assets/headers/h5.svg" alt="upload-photo">
</div>
<div class="container">
  <div class="row top-margin-md text-center">
    <button type="button" class="btn" name="button" ng-click="$ctrl.nextStep()">Next Step ></button>
  </div>
  <div class="row top-margin-sm">
    <div class="col-md-3"></div>
    <div class="col-md-6 color-2 widget-container">
      <div class="row text-center">
        <h4>Select a File to Upload or Enter URL:</h4>
        <div class="flex-row">
            <input type="file" name="image" custom-on-change="$ctrl.fileInput">
        </div>
        <input class="top-margin-sm text-widget" type="text" name="image" ng-model="$ctrl.postcard.background">
      </div>
      <div class="row top-margin-sm text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8 photo-upload">
          <div ng-if="$ctrl.isLoading" class="loader">Loading...</div>
          <img ng-if="!$ctrl.isLoading" class="image-fill standard-border-radius" ng-src="{{$ctrl.postcard.background}}" alt="">
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
