<div class="image-fill">
  <img ng-src="../../assets/headers/h8.svg" alt="upload-photo">
</div>
<div class="container">
  <div class="row top-margin-md text-center">
    <button type="button" class="btn" name="button" ng-click="$ctrl.submitCard()">Pay and Send</button>
  </div>
  <div class="row top-margin-lg">
    <div class="col-md-4 col-sm-2">

    </div>
    <div class="col-md-4 col-sm-8 col-xs-12">
      <form id="payment-form">
        <div class="form-row">
          <label for="card-element">
            Credit or debit card
          </label>
          <div id="card-element">
              <!-- a Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display form errors -->
          <div id="card-errors"></div>
        </div>
      </form>
      <h6>this site uses <a href="https://stripe.com/">stripe</a> for secure payments</h6>
      <div ng-if="$ctrl.isLoading" class="loader" style="color:#D9ACA7;">Loading...</div>
    </div>
    <div class="col-md-4 col-sm-2"></div>
  </div>
  <div class="row top-margin-ms flex-row">
    <a href="#">
      <div class="card-preview" ng-click="$ctrl.flip()">
        <div class="front">
          <div front-design></div>
        </div>
        <div class="back">
          <div back-design></div>
        </div>
      </div>
    </a>
  </div>
</div>
