html, body {
    height:100%;
    padding-bottom: 100px;
}

.background-image {
  position: absolute;;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-bar {
  /*height: 65px;*/
  height: 100px;
  width: 100%;
  margin: 0px;
  /*background-color: rgb(191, 242, 201);*/
  /*background: url(https://s3-us-west-2.amazonaws.com/gftiresources/assets/header_texture_2.png);
  background-size: contain;
  background-repeat: repeat;*/
  background-color: #D9ACA7;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.text-background {
  background-color: #FFF;
  /*border-radius: 5px;*/
  width: 100%;
  padding: 20px;
}

.span-white {
  background-color: #FFF;
  /*border-radius: 5px;*/
  width: 100%;
}

 /*Spaceing*/
.row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.top-margin-lg {
  margin-top: 50px;
}

.top-margin-md {
  margin-top: 35px;
}

.top-margin-sm {
  margin-top: 15px;
}

.top-margin-xs {
  margin-top: 5px;
}

.container {
  padding-bottom: 10px;
}

.bottom-gutter {
  margin-bottom: 30px;
}

/*.vertical-align {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}*/

.container {
  padding-bottom: 50px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #FFF;
}

.navbar {
  min-height: 77px;
  background-color: #FFF;
  border: none;
  margin: 0;
}

.navbar-nav {
  position: absolute;;
  right: 0;
  top: 25%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.navbar-brand {
  font-family: 'Helvetica Neue Light';
  font-size: 28pt;
  letter-spacing: 5px;
  color: #D9ACA7;
  position: absolute;
  top: 25%;
}

/*Postcard Composition*/
.greetings-subtext {
  font-size: 32px;
  text-align: center;
  font-family: 'Yellowtail', cursive;
}

.postcard-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
  /*height: auto;*/
  /*z-index: 10;*/
}

.frame-container {
  position: absolute;
  top: 0px;
  left: 15px;
}
.postcard-theme {
  fill: red;
}

.postcard-back {
  border-radius: 5px;
  width: 100%;
}

.message-preview {
  font-size: 10px;
  max-width: 160px;
  margin: 0px;
}

.address-preview {
  font-size: 8px;
  max-width: 160px;
  margin: 0px;
}

/*Widgets*/
.widget-container {
  padding: 10px;
  border-radius: 5px;
}

.ui-widget {
  margin: 20px;
  background-color: #FFF;
  border-radius: 5px;
  width: 80% !important;
  height: auto;
}

.widget-element {
  margin: 10px;
  width: 60px;
  height: 60px;
  background-color: #FFF;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.widget-element:hover {
  opacity: .5;
}

.widget-element-selected {
  border-style: solid;
  border-color: #FFF;
  border-width: thick;
}

.text-widget {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border-width: 0;
  border-style: none;
}

.form-field {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  border-width: 0;
  border-style: none;
}

.form-label {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.slick-slider {
  margin-top: 0;
  margin-bottom: 0;
}

/*Background Colors*/
.color-1 {
  background-color: #E4C5C2;
}

.color-2 {
  background-color: #D9ACA7;
}

.color-3 {
  background-color: #44aab5;
}

.color-4 {
  background-color: #1595a3;
}

.white {
  background-color: #FFF;
}

.pink-text {
  color: #D9ACA7;
}

.standard-border-radius {
  border-radius: 5px;
}

.flex-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.flex-row-spacing {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.card-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.card {
  max-width: 300px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  background-color: #FFF;
  padding: 10px;
}

/*Images*/
.image-fill {
  width: 100%;
  height: auto
}

/*Fonts*/
@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('https://s3-us-west-2.amazonaws.com/gftiresources/assets/HelveticaNeueLTCom-Lt.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('https://s3-us-west-2.amazonaws.com/gftiresources/assets/HelveticaNeueLTCom-Md.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('https://s3-us-west-2.amazonaws.com/gftiresources/assets/HelveticaNeueLTCom-Bd.ttf');
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-family: 'Helvetica Neue Medium';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Helvetica Neue Light';
}

h5,
h6 {
  color: #D9ACA7;
}

label {
  font-family: 'Helvetica Neue Light';
}

a {
  color: #AF8B89;
}

a:hover {
  color: #E4C5C2;
}
/*Buttons*/
.btn {
  border: solid;
  padding: 10px 20px 10px 20px;
  background-color: #FFF;
  border-color: #D9ACA7;
  color: #D9ACA7;
  border-radius: 0;
}

.btn:hover {
  background-color: #D9ACA7;
  color: #FFF;
  opacity: .5;
}

.btn-tab {
  background-color: #D9ACA7;
  border-radius: 3px;
  color: white;
  border-style: none;
  padding: 10px 15px 5px 15px;
  font-family: 'Helvetica Neue Light';
  font-size: 16px;
}

.btn-tab:hover {
  opacity: .5;
}

.btn-tab-active {
  border-style: solid;
  border-color: #D9ACA7;
  color: #D9ACA7;
  background-color: rgba(217, 172, 167, .25);
}

.img-button {
  border-radius: 5px;
}

.img-button:hover {
  opacity: .5;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
