html, body {
    height:100%;
    padding-bottom: 100px;
}

.container {
  padding-bottom: 15px;
}

.background-image {
  position: absolute;;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-bar {
  height: 100px;
  width: 100%;
  margin: 0px !important;
  background-color: #485967;
  color: #FFF;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.home-header {
  margin-top: -100px;
}

@media (max-width: 1200) {
  .home-header {
    margin-top: -60px;
  }
}

@media (max-width: 1050px) {
  .home-header {
    margin-top: -50px;
  }
}

@media (max-width: 600px) {
  .home-header {
    margin-top: -30px;
  }
}

.h-image1 {
  display: block;
}

.h-image2 {
  display: none;
}

@media (max-width: 768px) {
  .h-image1 {
    display: none;
  }
  .h-image2 {
    display: block;
  }
}

.text-background {
  background-color: #FFF;
  /*border-radius: 5px;*/
  width: 100%;
  padding: 20px;
}

 /*Spaceing*/
.row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.top-padding-md {
  padding-top: 35px;
}

.top-margin-lg {
  margin-top: 50px;
}

.top-margin-md {
  margin-top: 35px;
}

.top-margin-sm {
  margin-top: 15px;
}

.top-margin-xs {
  margin-top: 5px;
}

.bottom-gutter {
  margin-bottom: 30px;
}

/*.vertical-align {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}*/

.not-sticky-footer {
  position: relative;
  padding-top: 5px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #AAE0F8;
}

.footer-text {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 0px;
}

.navbar {
  min-height: 65px;
  background-color: #AAE0F8;
  border: none;
  margin: 0;
  box-shadow: 0px 4px 1px rgba(79, 79, 79, 0.46);
  border-radius: 0;
}

.navbar-nav {
  position: absolute;;
  right: 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.navbar-brand {
  /*font-family: 'Helvetica Neue Light';
  font-size: 28pt;
  letter-spacing: 5px;
  color: #D9ACA7;*/
  position: absolute;
  /*top: 25%;*/
  max-width: 50px;
  padding: 0px;
  margin: 8px;
  height: auto;
}

/*Postcard Composition*/
.greetings-subtext {
  text-align: center;
  /*font-family: 'Yellowtail', cursive;*/
}

.postcard-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
  /*height: auto;*/
  /*z-index: 10;*/
}

.frame-container {
  position: absolute;
  top: 0px;
  left: 15px;
}
.postcard-theme {
  fill: red;
}

.postcard-back {
  border-radius: 5px;
  width: 100%;
}

.message-preview {
  font-size: 12px;
  max-width: 160px;
  margin: 0px;
}

.address-preview {
  font-size: 8px;
  max-width: 160px;
  margin: 0px;
}

/*Widgets*/
.widget-container {
  padding: 10px;
  border-radius: 5px;
}

.ui-widget {
  margin: 20px;
  background-color: #FFF;
  border-radius: 5px;
  width: 80% !important;
  height: auto;
}

.widget-element {
  margin: 10px;
  width: 60px;
  height: 60px;
  background-color: #FFF;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  /*border-style: solid;
  border-width: thick;
  border-color: #FFF;*/
}

.widget-element:focus {
  outline-style: none;
}

.widget-element-selected {
  border-style: solid;
  border-width: thick;
  border-color: #AAE0F8;
  outline-style: none;
}

.widget-element-selected:focus {
  outline-style: none;
}


.text-widget {
  /*width: 50%;*/
  padding: 5px;
  border-radius: 5px;
  border-width: 0;
  border-style: none;
  width: 100%;
}

.form-field {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  border-width: 0;
  border-style: none;
}

.form-label {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.slick-slider {
  margin-top: 0;
  margin-bottom: 0;
}

.photo-upload {
  min-height: 300px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile-label {
    color: black;
    background-color: #D4EFFB;
    padding: 25px 50px 20px 50px;
    border-radius: 5px;
    border-style: dashed;
    border-color: white;
}

.inputfile-label:focus,
.inputfile-label:hover {
    opacity: .5;
}

.archive-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

@media (max-width: 820px) {
  .archive-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}

.archive-widget {
  /*background-color: #D4EFFB;*/
  background-color: #AAE0F8;
  border-radius: 3px;
  height: 75px;
  margin: 10px;
  min-width: 200px;
}

.dropdown-widget {
  background-color: #D4EFFB;
  border-radius: 3px;
  color: #000;
  border-style: none;
  /*padding: 5px 15px 0px 15px;*/
  font-family: 'Helvetica Neue Light';
  font-size: 14px;
}

.icon {
  width: 50px;
  height: auto;
  margin: 10px;
}

/*Background Colors*/
.color-1 {
  background-color: #D4EFFB;
}

.color-2 {
  background-color: #AAE0F8;
}

.color-3 {
  background-color: #6DC4E2;
}

.white {
  background-color: #FFF;
}

.standard-border-radius {
  border-radius: 5px;
}

.flex-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.flex-row-spacing {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.card-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  max-width: 275px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  background-color: #FFF;
  padding: 10px;
  border-style: solid;
  border-radius: 3px;
  border-color: #6DC4E2;
  margin: 10px;
}

/*Images*/
.image-fill {
  width: 100%;
  height: auto
}

.image-shadow {
  box-shadow: 4px 4px 4px rgba(79, 79, 79, 0.46);
}

/*.hero-image {
  height: 700px;
  width: 100%;
  overflow: hidden;
}*/



@media (max-width: 960px) {
  .hero-image {
    height: 500px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero-image {
    height: 300px;
  }
  .hero-container {
    display: none;
  }
}

.hero-text {
  position: absolute;
  left: 10px;
  top: 400px;
  background-color: white;
  opacity: .75;
  padding-right: 10px;
  padding-left: 10px;
}

.hero-container {
  position: absolute;;
  top: 200px;
  left: 25%;
  width: 50%;
}

/*Fonts*/
@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('https://s3-us-west-2.amazonaws.com/gftiresources/assets/HelveticaNeueLTCom-Lt.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('https://s3-us-west-2.amazonaws.com/gftiresources/assets/HelveticaNeueLTCom-Md.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('https://s3-us-west-2.amazonaws.com/gftiresources/assets/HelveticaNeueLTCom-Bd.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Day Poster';
    src: url('https://s3-us-west-2.amazonaws.com/gftiresources/assets/Dayposter_Black.TTF');
    font-weight: normal;
    font-style: normal;
}


h1 {
  font-family: 'Helvetica Neue Medium';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Helvetica Neue Light';
}

h5 {
  font-size: 12pt;
  line-height: 18pt;
}

h6 {
  font-size: 10pt;
}

label {
  font-family: 'Helvetica Neue Light';
}

a {
  color: #AF8B89;
}

a:hover {
  color: #AF8B89;
}

a:hover {
  color: #E4C5C2;
}

/*Buttons*/
.btn {
  /*padding: 10px 20px 10px 20px;*/
  background-color: #6DC4E2;
  padding-top: 10px;
  /*border-color: #AAE0F8;*/
  color: #FFF;
  border-radius: 0;
  /*box-shadow: 4px 4px 0 rgb(212, 239, 251);*/
  font-family: 'Helvetica Neue Light';
  font-size: 14pt;
}

.btn:hover {
  color: #FFF;
}

.btn-tab {
  background-color: #FFF;
  border-radius: 3px;
  color: #000;
  border-style: none;
  padding: 5px 15px 0px 15px;
  font-family: 'Helvetica Neue Light';
  font-size: 16px;
  opacity: .5;
}

.btn-tab-active {
  opacity: 1;
}

.img-button {
  border-radius: 5px;
}

.icon-button {
  width: 30px;
  height: auto;
  margin: 5px;
  cursor: pointer;
}

/*Stripe*/
.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.email-invalid {
  border-color: #fa755a !important;
  border-style: solid;
  border-width: thin;
}

/*Loader*/
.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*Angular Animations*/

.fade {
  opacity: 1;
}
.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 1000ms;
}

.fade.ng-hide-add {
  transition: all linear 500ms;
}

/*Hover Transitions*/
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
