body {
  background-color: #1595A3;
  padding-bottom: 100px;
}

.header-bar {
  /*height: 65px;*/
  height: 100px;
  width: 100%;
  margin: 0px;
  /*background-color: rgb(191, 242, 201);*/
  /*background: url(https://s3-us-west-2.amazonaws.com/gftiresources/assets/header_texture_2.png);
  background-size: contain;
  background-repeat: repeat;*/
  background-color: #44aab5;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

 /*Spaceing*/
.row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;;
}

.top-margin-lg {
  margin-top: 50px;
}

.top-margin-md {
  margin-top: 35px;
}

.top-margin-sm {
  margin-top: 15px;
}

.container {
  padding-bottom: 10px;
}

.bottom-gutter {
  margin-bottom: 30px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-top: 50px;
  padding-top: 10px;
  background-color: #FFF;
}

/*Postcard Composition*/
.greetings-subtext {
  font-size: 32px;
  text-align: center;
  font-family: 'Yellowtail', cursive;
}

.postcard-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
  /*height: auto;*/
  /*z-index: 10;*/
}

.postcard-theme {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*height: auto;*/
  z-index: 10;
}

.postcard-back {
  border-radius: 5px;
  width: 100%;
}

.message-preview {
  font-size: 10px;
  max-width: 160px;
  margin: 0px;
}

.address-preview {
  font-size: 8px;
  max-width: 160px;
  margin: 0px;
}

/*Widgets*/
.widget-container {
  padding: 10px;
  border-radius: 5px;
}

.ui-widget {
  margin: 20px;
  background-color: #FFF;
  border-radius: 5px;
  width: 80% !important;
  height: auto;
}

.widget-element {
  margin: 10px;
}

.widget-element:hover {
  opacity: .5;
}

.widget-element-selected {
  border-style: solid;
  border-color: #FFF;
  border-width: thick;
}

.text-widget {
  /*width: 50%;*/
  padding: 10px;
  border-radius: 5px;
  border-width: 0;
  border-style: none;
}

.form-field {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  border-width: 0;
  border-style: none;
}

.form-label {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.slick-slider {
  margin-top: 0;
  margin-bottom: 0;
}

/*Background Colors*/
.blue-1 {
  background-color: #a1d5da;
}

.blue-2 {
  background-color: #73bfc8;
}

.blue-3 {
  background-color: #44aab5;
}

.blue-4 {
  background-color: #1595a3;
}

.white {
  background-color: #FFF;
}

.standard-border-radius {
  border-radius: 5px;
}

.flex-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

/*Images*/
.image-fill {
  width: 100%;
  height: auto
}
