<div class="image-fill">
  <img class="h-image1" ng-src="../../assets/headers/h6.svg" alt="upload-photo">
  <img class="h-image2" ng-src="../../assets/headers/h6_small.svg" alt="select-theme">
</div>

<div class="container">
  <div class="row top-margin-sm text-center">
    <button type="button" class="btn" name="button" ng-click="$ctrl.nextStep()">Next Step</button>
  </div>
  <div class="row top-margin-sm">
    <div class="col-md-1"></div>
    <div class="col-md-5 col-xs-12">
      <!-- Postcard Template -->
      <div front-design></div>
      <div class="widget-container color-2 text-center top-margin-sm" style="height:190px;">
        <h4 class="top-margin-sm">Edit Subtext</h4>
        <div class="row flex-row">
          <input class="text-widget" type="text" name="" ng-model="$ctrl.postcard.subtext" value="{{$ctrl.postcard.subtext}}">
        </div>
        <div class="top-margin-sm">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <p>Your postcard design will automatically be saved to the community postcard archive.</p>
            <3
          </div>
          <div class="col-xs-1"></div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-xs-12 widget-container color-2 text-center">
      <h4 class="top-margin-sm">Select Filter</h4>
      <div class="row flex-row">
        <!-- Color Selection -->
        <slick class="ui-widget white" style="opacity:.85" dots="false" infinite="false" speed="300" slides-to-show="5" touch-move="false" slides-to-scroll="1">
          <div ng-repeat="filter in $ctrl.filters">
            <div>
              <a ng-click="$ctrl.selectFilter(filter.id)">
                <img class="widget-element" ng-class="{'widget-element-selected':filter.id==$ctrl.curFilter}" ng-src="{{filter.asset}}" alt="{{filter.name}}">
              </a>
            </div>
          </div>
        </slick>
      </div>
      <h4 class="top-margin-sm">Select Frame</h4>
      <div class="row flex-row">
        <slick class="ui-widget white" style="opacity:.85" dots="false" infinite="false" speed="300" slides-to-show="5" touch-move="false" slides-to-scroll="1">
          <div ng-repeat="singleFrame in $ctrl.frames">
            <div class="">
              <a ng-click="$ctrl.selectFrame(singleFrame.id)">
                <div class="widget-element" ng-class="{'widget-element-selected':singleFrame.id==$ctrl.curFrame}"><h3>{{singleFrame.id}}</h3></div>
              </a>
            </div>
          </div>
        </slick>
      </div>
      <h4 class="top-margin-sm">Select Color</h4>
      <div class="row flex-row">
        <slick class="ui-widget white" style="opacity:.85" dots="false" infinite="false" speed="300" slides-to-show="5" touch-move="false" slides-to-scroll="1">
          <div ng-repeat="color in $ctrl.colors">
            <div class="">
              <a ng-click="$ctrl.selectColor(color.id)">
                <div class="widget-element" ng-class="{'widget-element-selected':color.id==$ctrl.curColor}" style="background-color:{{color.c}};"></div>
              </a>
            </div>
          </div>
        </slick>
      </div>
      <h4 class="top-margin-sm">Select Font</h4>
      <div class="row flex-row">
        <slick class="ui-widget white" style="opacity:.85" dots="false" infinite="false" speed="300" slides-to-show="5" touch-move="false" slides-to-scroll="1">
          <div ng-repeat="singleFrame in $ctrl.frames">
            <div class="">
              <a ng-click="$ctrl.selectFrame(singleFrame.id)">
                <div class="widget-element"></div>
              </a>
            </div>
          </div>
        </slick>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
