<div class="image-fill">
  <img class="h-image1" ng-src="../../assets/headers/h6.svg" alt="upload-photo">
  <img class="h-image2" ng-src="../../assets/headers/h6_small.svg" alt="select-theme">
</div>

<div class="row top-margin-sm">
  <div class="col-md-4 col-sm-2 col-xs-1"></div>
  <div class="col-md-5 col-sm-8 col-xs-10">
    <div progress-bar></div>
  </div>
  <div class="col-md-3 col-sm-2 col-xs-1"></div>
</div>

<div style="margin:50px;margin-top:0">
  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3 col-sm-12 widget-container color-2 text-center" style="height:525px;">
      <!-- Font Size Slider -->
      <div class="top-margin-xs row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 white standard-border-radius" style="padding-bottom:10px; margin-bottom:5px;opacity:.85">
          <h5 style="margin-bottom:0px;">Font Size</h5>
          <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
        </div>
        <div class="col-xs-1"></div>
      </div>
      <!-- Font Position Position Slider -->
      <div class="top-margin-xs row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 white standard-border-radius" style="padding-bottom:10px; margin-bottom:5px;opacity:.85">
          <h5 style="margin-bottom:0px;">Text Position</h5>
          <rzslider rz-slider-model="textPos.value" rz-slider-options="textPos.options"></rzslider>
        </div>
        <div class="col-xs-1"></div>
      </div>
      <!-- Image Scale Slider -->
      <div class="top-margin-xs row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 white standard-border-radius" style="padding-bottom:10px; margin-bottom:5px;opacity:.85">
          <h5 style="margin-bottom:0px;">Image Scale</h5>
          <rzslider rz-slider-model="imageScale.value" rz-slider-options="imageScale.options"></rzslider>
        </div>
        <div class="col-xs-1"></div>
      </div>
      <!-- Image Y Position Slider -->
      <div class="top-margin-xs row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 white standard-border-radius" style="padding-bottom:10px; margin-bottom:5px;opacity:.85">
          <h5 style="margin-bottom:0px;">Image Position (Vertical)</h5>
          <rzslider rz-slider-model="imagePosY.value" rz-slider-options="imagePosY.options"></rzslider>
        </div>
        <div class="col-xs-1"></div>
      </div>
      <!-- Image X Position Slider -->
      <div class="top-margin-xs row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 white standard-border-radius" style="padding-bottom:10px; margin-bottom:5px;opacity:.85">
          <h5 style="margin-bottom:0px;">Image Position (Horizontal)</h5>
          <rzslider rz-slider-model="imagePosX.value" rz-slider-options="imagePosX.options"></rzslider>
        </div>
        <div class="col-xs-1"></div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <!-- Postcard Template -->
      <div front-design></div>
      <div class="widget-container color-2 text-center top-margin-sm" style="height:100px;">
        <h4 class="top-margin-sm">Edit Subtext</h4>
        <div class="row flex-row">
          <input class="text-widget" type="text" name="" style="width:75%" ng-model="$ctrl.postcard.subtext" value="{{$ctrl.postcard.subtext}}">
        </div>
      </div>
    </div>

    <div class="col-md-3 col-xs-12 widget-container color-2 text-center" style="height:525px;">
      <h4 class="top-margin-sm">Select Filter</h4>
      <div class="row flex-row">
        <!-- Color Selection -->
        <slick class="ui-widget white" style="opacity:.85" dots="false" infinite="false" speed="300" slides-to-show="3" touch-move="false" slides-to-scroll="1">
          <div ng-repeat="filter in $ctrl.filters">
            <div>
              <a ng-click="$ctrl.selectFilter(filter.id)">
                <img class="widget-element" ng-class="{'widget-element-selected':filter.id==$ctrl.curFilter}" ng-src="{{filter.asset}}" alt="{{filter.name}}">
              </a>
            </div>
          </div>
        </slick>
      </div>
      <h4 class="top-margin-sm">Select Frame</h4>
      <div class="row flex-row">
        <slick class="ui-widget white" style="opacity:.85" dots="false" infinite="false" speed="300" slides-to-show="3" touch-move="false" slides-to-scroll="1">
          <div ng-repeat="singleFrame in $ctrl.frames">
            <div class="">
              <a ng-click="$ctrl.selectFrame(singleFrame.id)">
                <img class="widget-element" ng-src="{{singleFrame.asset}}" ng-class="{'widget-element-selected':singleFrame.id==$ctrl.curFrame}" alt="frame">
              </a>
            </div>
          </div>
        </slick>
      </div>
      <h4 class="top-margin-sm">Select Color</h4>
      <div class="row flex-row">
        <slick class="ui-widget white" style="opacity:.85" dots="false" infinite="false" speed="300" slides-to-show="3" touch-move="false" slides-to-scroll="1">
          <div ng-repeat="color in $ctrl.colors">
            <div class="">
              <a ng-click="$ctrl.selectColor(color.id)">
                <div class="widget-element" ng-class="{'widget-element-selected':color.id==$ctrl.curColor}" style="background-color:{{color.c}};"></div>
              </a>
            </div>
          </div>
        </slick>
      </div>
      <h4 class="top-margin-sm">Select Font</h4>
      <div class="col-sm-1"></div>
      <div class="col-sm-10 col-xs-12">
        <div class="row flex-row white standard-border-radius" style="opacity:.85">
          <div ng-repeat="font in $ctrl.fonts">
            <div class="">
              <a ng-click="$ctrl.selectFont(font.id)">
                <div class="widget-element color-1"  ng-class="{'widget-element-selected':font.id==$ctrl.curFont}">
                  <h3 class="text-center" style="font-family:{{font.font}};">Tt</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <!-- <div class="col-md-1"></div> -->
  </div>
</div>
