<div class="image-fill">
  <img class="h-image1" ng-src="../../assets/headers/h4.svg" alt="select-theme">
  <img class="h-image2" ng-src="../../assets/headers/h4_small.svg" alt="select-theme">
</div>

<div class="row top-margin-sm">
  <div class="col-sm-4 col-xs-1"></div>
  <div class="col-sm-4 col-xs-10">
    <div progress-bar-no-button></div>
  </div>
  <div class="col-sm-4 col-xs-1"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-6 col-xs-12 bottom-gutter">
          <a ng-click="$ctrl.selectTheme('1')"><div classic-theme></div></a>
        </div>
        <div class="col-md-6 col-xs-12 bottom-gutter">
          <a ng-click="$ctrl.selectTheme('2')"><div playful-theme></div></a>
        </div>
        <div class="col-md-6 col-xs-12 bottom-gutter">
          <a ng-click="$ctrl.selectTheme('3')"><div modern-theme></div></a>
        </div>
        <div class="col-md-6 col-xs-12 bottom-gutter">
          <a ng-click="$ctrl.selectTheme('4')"><div wild-theme></div></a>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
