<div class="image-fill">
  <img class="h-image1" ng-src="../../assets/headers/h4.svg" alt="select-theme">
  <img class="h-image2" ng-src="../../assets/headers/h4_small.svg" alt="select-theme">
</div>

<div class="row top-margin-sm">
  <div class="col-sm-4 col-xs-1"></div>
  <div class="col-sm-4 col-xs-10">
    <div progress-bar-no-button></div>
  </div>
  <div class="col-sm-4 col-xs-1"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center">
      <h3 class="top-margin-xs">Greetings Traveler!</h3>
      <p>Your journey awaits. Pick a theme that suits your adventure from the options below. Each theme includes different customization features for designing your postcard.</p>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row top-margin-sm">
    <div class="col-md-3 col-sm-6 col-xs-12 bottom-gutter">
      <img class="image-fill" ng-mouseenter="$ctrl.toggleSuitcase(0, 'open')" ng-if="$ctrl.suitcases[0] === 'closed'" ng-click="$ctrl.selectTheme('1')" src="../../assets/objects/suitcase_classic_closed.svg" alt="suitcase">
      <img class="image-fill" ng-mouseleave="$ctrl.toggleSuitcase(0, 'closed')" ng-if="$ctrl.suitcases[0] === 'open'" ng-click="$ctrl.selectTheme('1')" src="../../assets/objects/suitcase_classic_open.svg" alt="suitcase">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 bottom-gutter">
      <img class="image-fill" ng-mouseenter="$ctrl.toggleSuitcase(1, 'open')" ng-if="$ctrl.suitcases[1] === 'closed'" ng-click="$ctrl.selectTheme('2')" src="../../assets/objects/suitcase_playful_closed.svg" alt="suitcase">
      <img class="image-fill" ng-mouseleave="$ctrl.toggleSuitcase(1, 'closed')" ng-if="$ctrl.suitcases[1] === 'open'" ng-click="$ctrl.selectTheme('2')" src="../../assets/objects/suitcase_playful_open.svg" alt="suitcase">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 bottom-gutter">
      <img class="image-fill" ng-mouseenter="$ctrl.toggleSuitcase(2, 'open')" ng-if="$ctrl.suitcases[2] === 'closed'" ng-click="$ctrl.selectTheme('3')" src="../../assets/objects/suitcase_modern_closed.svg" alt="suitcase">
      <img class="image-fill" ng-mouseleave="$ctrl.toggleSuitcase(2, 'closed')" ng-if="$ctrl.suitcases[2] === 'open'" ng-click="$ctrl.selectTheme('3')" src="../../assets/objects/suitcase_modern_open.svg" alt="suitcase">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 bottom-gutter">
      <img class="image-fill" ng-mouseenter="$ctrl.toggleSuitcase(3, 'open')" ng-if="$ctrl.suitcases[3] === 'closed'" ng-click="$ctrl.selectTheme('4')" src="../../assets/objects/suitcase_wild_closed.svg" alt="suitcase">
      <img class="image-fill" ng-mouseleave="$ctrl.toggleSuitcase(3, 'closed')" ng-if="$ctrl.suitcases[3] === 'open'" ng-click="$ctrl.selectTheme('4')" src="../../assets/objects/suitcase_wild_open.svg" alt="suitcase">
    </div>
  </div>
</div>
