<div hero-background></div>
<div class="hero-container">
  <div class="row top-margin-md">
  </div>
</div>

<div class="home-header">
  <img class="image-fill blue-header" ng-src="../../assets/headers/h12.svg" alt="about">
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        <h5 class="top-margin-sm">Greetings from the Internet is a travel-themed postcard creation tool. Users can design and mail a postard from this site. To get started, create a new card or explore the card archive of saved designs.</h5>
      </div>
      <div class="row flex-row-spacing">
        <button style="width: 160px;" class="btn hvr-grow" type="button" name="button" ui-sref="themeSelection">Create Card</button>
        <button style="width: 160px;" class="btn hvr-grow" type="button" name="button" ui-sref="archive">Explore Archive</button>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<div>
  <img class="image-fill blue-header" ng-src="../../assets/headers/h2.svg" alt="how-does-it-work">
</div>
<div class="container">
  <div class="row">
    <div class="row" style="margin-right:50px; margin-left:50px;">
      <div class="col-sm-4 top-margin-sm">
        <a href="#">
        <div class="card-preview" ng-click="$ctrl.flip()">
          <div class="front">
            <img class="image-shadow image-fill" ng-src="assets/demo_cards/demo_card_01_front.png" alt="front">
          </div>
          <div class="back">
            <img class="image-shadow image-fill" ng-src="assets/demo_cards/demo_card_01_back.png" alt="back">
          </div>
        </div>
        </a>
      </div>
      <div class="col-sm-4 top-margin-sm">
        <a href="#">
          <div class="card-preview" ng-click="$ctrl.flip()">
            <div class="front">
              <img class="image-shadow image-fill"  ng-src="assets/demo_cards/demo_card_02_front.png" alt="front">
            </div>
            <div class="back">
              <img class="image-shadow image-fill"  ng-src="assets/demo_cards/demo_card_02_back.png" alt="back">
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4 top-margin-sm">
        <a href="#">
          <div class="card-preview" ng-click="$ctrl.flip()">
            <div class="front">
              <img class="image-shadow image-fill"  ng-src="assets/demo_cards/demo_card_03_front.png" alt="front">
            </div>
            <div class="back">
              <img class="image-shadow image-fill"  ng-src="assets/demo_cards/demo_card_03_back.png" alt="back">
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div>
  <img class="image-fill blue-header" ng-src="../../assets/headers/h1.svg" alt="how-does-it-work">
</div>
<div class="container" >
  <div class="row top-margin-md col-xs-12">
    <div class="col-md-6">
      <div class="row">
        <div class="col-xs-3">
          <img class="image-fill" ng-src="assets/icons/step_1.svg" alt="">
        </div>
        <div class="col-xs-9">
          <h3>Step 1: Theme Selection</h3>
          <h5>We have carefully crafted 4 different themes to choose from. Each theme includes different customization assets that will give a different visual identity to your postcard.</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <img class="image-fill" ng-src="assets/icons/step_2.svg" alt="">
        </div>
        <div class="col-xs-9">
          <h3>Step 2: Photo Upload</h3>
          <h5>If you are using this site on a mobile device, you can take a photo and directly upload it to the site. Alternatively, you can upload a photo from your desktop or provide an image URL.</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <img class="image-fill" ng-src="assets/icons/step_3.svg" alt="">
        </div>
        <div class="col-xs-9">
          <h3>Step 3: Edit Design</h3>
          <h5>You can use 5 different widgets to customize your design. Tools include image filters, border themes, color selection, font selection and subtext customization.</h5>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-xs-3">
          <img class="image-fill" ng-src="assets/icons/step_4.svg" alt="">
        </div>
        <div class="col-xs-9">
          <h3>Step 4: Message & Address</h3>
          <h5>Fill in a custom message and address the card for mailing. You can save your design and share it with the GFTI community.</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <img class="image-fill" ng-src="assets/icons/step_5.svg" alt="">
        </div>
        <div class="col-xs-9">
          <h3>Step 5: Pay and Mail</h3>
          <h5>When you have completed your postcard, you can mail it. You will recieve an estimated delivery date. Each postcard costs $1.50 to send, which includes printing and postage. We use Stripe for secure payments.</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<div>
  <img class="image-fill blue-header" ng-src="../../assets/headers/h3.svg" alt="how-does-it-work">
</div>
<div class="container">
  <div class="row top-margin-md">
    <div class="col-md-1"></div>
    <div class="col-md-10 col-xs-12">
      <h5 class="top-margin-sm">Greetings from the Internet is an original project by Anna Lotko. She designed and developed it as the capstone project for the Boulder Galvanize Full-Stack Web Development program. The project started out as a simple 1-week static site. The original site can be found at <a href="greetingsfromtheinternet.surge.sh">greetingsfromtheinternet.surge.sh</a>. After spending a few months leveling up her web development skills, Anna decided to embark on the adventure of creating a full-stack version of the project.</h5>
      <h5 class="top-margin-sm">
        Some of the technical challenges that I encountered during the creation of this site include:
        <br>
        <br>
        I encountered difficulties when I sought to merge user settings with HTML templates on a NodeJS server before pushing all data to the Lob API. Lob is great (!!) but very particular about the format in which it receives data. Each SVG frame is a different template. When users make adjustments to their design in the image composition page of the tool, these settings get pushed as key value pairs to my server. The server then handles the logic for how the data gets interpolated into the HTML custom templates.
        <br>
        <br>
        Dynamic layouts were a challenge. There is a tension between wanting to give the user ultimate control over the aesthetic of the postcard and keeping the settings limited for content management reasons. The site strikes a nice balance between allowing for customization and variety while still presenting a consistent aesthetic across the different themes.
        <br>
        <br>
        The site marries modern web-design with an old-world aesthetic. I developed a visual language for the site that uses modern, responsive design while making the user feel like he or she is in Wes Anderson's living room. One of the greatest challenges of this design was to give the site character while preventing it from conflicting with postcard themes that the user can select. Ultimately the site feels fresh and user friendly but it is quite distinct.
        <br>
        <br>
        This site was made in 2-weeks! While most of the assets are originals, I did end up using a few assets from Creative Market due to project deadlines. Given the unique nature of the front end design and the robust back end that supports the postcard creation tool, I've very proud of how it turned out.
        <br>
        <br>
        To learn more about Anna and her other projects, visit <a href="www.annapanana.com"> www.annapanana.com</a>
      </h5>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
