<div class="image-fill">
  <img class="h-image1" ng-src="../../assets/headers/h10.svg" alt="upload-photo">
  <img class="h-image2" ng-src="../../assets/headers/h10_small.svg" alt="select-theme">
</div>



<div class="container">
  <div class="row top-margin-sm">
    <div class="col-xs-12 archive-container">
      <div class="archive-widget text-center">
        <div class="col-xs-12">
          <h5>Enter Keyword</h5>
        </div>
        <div class="col-xs-12">
          <input type="search" class="text-widget" placeholder="Search" ng-model="search.$">
        </div>
      </div>
      <div class="archive-widget text-center">
        <div class="col-xs-12">
          <h5>Filter By</h5>
        </div>
        <div class="col-xs-12 text-center">
          <a href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"><h4>{{$ctrl.filterName}}<span class="caret"></span></h4></a>
          <ul class="dropdown-menu dropdown-widget">
            <li ng-click="$ctrl.updateFilterCriteria('All')"><a>All</a></li>
            <li ng-click="$ctrl.updateFilterCriteria('Classic')"><a>Classic</a></li>
            <li ng-click="$ctrl.updateFilterCriteria('Playful')"><a>Playful</a></li>
            <li ng-click="$ctrl.updateFilterCriteria('Modern')"><a>Modern</a></li>
            <li ng-click="$ctrl.updateFilterCriteria('Wild')"><a>Wild</a></li>
          </ul>
        </div>
      </div>
      <div class="text-center archive-widget">
        <div class="col-xs-12">
          <h5>Sort By</h5>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-6">
            <button class="btn-tab" type="button" name="button" ng-click="$ctrl.updateSortCriteria('times_used')">Popularity</button>
          </div>
          <div class="col-xs-6">
            <button class="btn-tab" type="button" name="button" ng-click="$ctrl.updateSortCriteria('created_at')">Date</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container col-xs-12">
    <div class="card" ng-repeat="entry in $ctrl.archive | orderBy:$ctrl.sortCriteria | filter:search:strict | filter:(!!$ctrl.filterBy || undefined) && {theme_id:$ctrl.filterBy}" ng-click="$ctrl.selectTemplate(entry.id)">
      <img class="image-fill" ng-src="{{entry.thumbnail_url}}" alt="">
      <h4>{{entry.name}}</h4>
      <p>{{entry.notes}}</p>
    </div>
  </div>
</div>
